.container {
  align-self: center;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container input[type='password'] {
  width: 500px;
}
