@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

.overlayCard {
  background-color: #1e1f26;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 790px;
  margin-top: -370px;
  margin-left: -325px;
  border-radius: 25px;
  position: relative;
}

.modalContainer {
  background: radial-gradient(
    140.65% 444.12% at 50% 50%,
    #020829 0%,
    rgba(74, 8, 45, 0) 30%
  );
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: all 0.3s linear;
  backdrop-filter: blur(12px);
  z-index: 10;
}

.modalLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 15%;
}

.modalText {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  height: 100%;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.modalTextContent {
  margin: 40px;
  margin-top: 2rem;
}

.modalTextTitle {
  padding-top: 1rem;
}

.modalButton {
  background: #2da573;
  border-radius: 15px;
  color: white;
  justify-content: center;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 32px;
  margin-top: 140px;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.modalTextUnderline {
  background-color: #d9d9d9;
  width: 75%;
  height: 0.1rem;
  opacity: 30%;
  margin-top: 0.7rem;
  transform: translate(17%);
}

.skillButtonContainer {
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  max-height: 400px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-left: 30px;
  padding-right: 30px;
}

.skillButtonContainer::-webkit-scrollbar {
  display: none;
}

.skillButton {
  background-color: #9a196a;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  width: auto;
  border-radius: 20px;
  border: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.skillButtonHovered {
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.25);
}

.active {
  background-color: #2da572;
}

.skillContinueButton {
  margin: 1rem;
  width: calc(100% - 2rem);
}

.newProjectContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  height: 100%;
  align-items: center;
  color: #ffffff;
}

.spaceBox {
  margin: auto 0;
  display: flex;
}

.selectBox {
  padding-top: 30px;
  width: 75%;
  line-height: 30px;
  height: 100%;
  color: #020829;
}

.textArea {
  align-self: center;
  width: 75%;
  font-size: 20px;
  line-height: 25px;
}
