.navbar {
  display: flex;
  min-height: 6.25rem;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px #d9d9d9;
}

.navbarMobile {
  display: flex;
  min-height: 6.25rem;
  width: 100%;
}

.centerNavItems {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.375rem;
  width: 25%;
  cursor: pointer;

  color: white;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.loginBox {
  display: flex;
  margin-right: 2rem;
  width: 25%;
  justify-content: flex-end;
}

nav {
  width: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
