.container {
  margin-top: 10.1875rem;
}

.topText {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 164px;
  line-height: 192px;
  color: white;
}

.textContainer {
  width: 712px;
  height: 418px;
}
.animatedText {
  width: 800px;
  height: 216px;
  overflow: hidden;
}

.line {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 9rem;
  /* identical to box height */

  background: linear-gradient(
    82.76deg,
    #2ac8eb -2.87%,
    rgba(181, 44, 193, 0.62) 102.83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.line:first-child {
  animation: anim 8s infinite;
}

.login {
  position: fixed;
  top: 0;
  right: 14.8rem;
}

.logo {
  position: fixed;
  top: 0;
  left: 72px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.375rem;
  width: 25%;

  color: white;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: -216px;
  }
  40% {
    margin-top: -432px;
  }
  60% {
    margin-top: -648px;
  }
  80% {
    margin-top: -862px;
  }
  100% {
    margin-top: 0;
  }
}
