
.container {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.bio {
  margin-top: 3rem;
  margin-left: 3rem;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.username {
  font-family: 'Roboto Flex';
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 3.75rem;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.bioText {
  font-family: 'Roboto Flex';
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.625rem;
  text-align: center;
  color: #ffffff;
}

.tables {
  margin-left: 1.5rem;
  margin-top: 3rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.circle {
  margin-top: 1.5rem;
  display: flex;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.row {
  margin-top: 0.65rem;
  display: flex;
  width: 100%;
}

.card {
  margin: 0.3rem;
  margin-bottom: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #1e1f26;
  color: #d9d9d9;
  border-radius: 1.25rem;
  width: 100%;
  padding-left: 0.1rem;
  overflow-y: auto;
  overflow-x: hidden;

  max-height: 387px;
}

.line {
  background-color: rgba(217, 217, 217, 0.25);
  height: 0.1rem;
  margin-right: 0.33rem;
  margin-left: 1.5rem;
  width:calc(100% - 2.5rem);
  padding-top: 0.1rem;
}

ul{
  margin-top: 1rem;
  margin-left: 2rem;
}

.profileLi {
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;
}

.header{
margin-top: 1rem;
margin-left: 2rem;
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;

color: #FFFFFF;
}